canvas {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -100;
}

table {
  width: 100%;
}

thead {
  background-color: #448;
  color: #fff;
  text-align: left;
}

td {
  padding: 1px 0px 4px 4px;
}

#panels {
  z-index: 1;
  position: fixed;
  top: 2px;
  right: 2px;
  width: 250px;
}

#panels .panel {
  padding: 0px;
  border-color: #eff;
  background-color: #eff;
  border-style: groove;
  border-width: thin;
  opacity: 0.7;
}

#warning {
  font-family: sans-serif;
  font-weight: bold;
  color: #f00;
}

#information span {
  font-weight: normal;
}

#text .focus {
  font-weight: bold;
  color: #800;
  background-color: #aaf;
}

#information #time_left {
  font-family: sans-serif;
  font-weight: 900;
  color: #f00;
}

#about-this-project {
  font-size: small;
  color: #fff;
  background-color: #69d;
}

textarea {
  background-color: transparent;
  border-color: #ddd;
}
