canvas {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -100;
}

.panel {
  position: fixed;
  right: 2px;
  padding: 7px;
  border-style: groove;
  border-width: thin;
  opacity: 0.7;
}

#status-panel {
  top: 2px;
  z-index: -1;
  border-color: #eff;
  background-color: #eff;
}

#control-panel {
  bottom: 2px;
  z-index: 1;
  border-color: #eff;
  background-color: #eff;
}

#warning {
  font-family: sans-serif;
  font-weight: bold;
  color: #f00;
}

#information span {
  font-weight: normal;
}

#text .focus {
  font-weight: bold;
  color: #800;
  background-color: #aaf;
}

#information #time_left {
  font-family: sans-serif;
  font-weight: 900;
  color: #f00;
}

#about-this-project {
  font-size: small;
}

textarea {
  background-color: transparent;
  border-color: #ddd;
}
